/*
1. General estilos 
2. Header
3. Tipografia
4. Visuales
5. Otros
*/

:root {
    /*Colores*/
    --white: #ffffff;
    --black: #000000;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
  }
  
  .container {
    flex-wrap: wrap;
    display: flex;
  }
  
  /*Contenido parte superior*/
  
  .firstnav{
    height: 7vh;
    background-color:#1e291e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
  }

  .secondnav{
    height: 7vh;
    background-color:#2f302f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
  }

  .thirdnav{
    height: 7vh;
    background-color:#5c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
  }
  
  .oferta--imagen--texto{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .oferta--imagen--texto img{
    width: 11em;
  }
  
  .oferta--imagen--texto p{
    font-size: 1.3rem;
    justify-content: end;
    font-weight: bold;
    text-align: end;
  }
  
  
  /*Pagina home*/
  /*Seccion de title -- Pagina home*/
  
  .title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32em;
    height: 30.4em;
    text-align: center;
    background: linear-gradient(50.8deg, #b21b1b 16.69%, #ef3c20 50%, #f3e22c 83.31%);
  }
  
  .title img {
    width: 6.5em;
    height: 2.0em;
    margin-top: 6em;
    align-self: center;
  }
  
  .title--container {
    width: 80%;
    min-width: 28.8em;
    max-width: 90em;
    height: 10.8em;
    margin-top: 4em;
    text-align: center;
    align-self: center;
  }
  
  .title--container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.4rem;
    color: var(--white);
  }
  
  .title--container p{
    margin-top: 1.5em;
    font-size: 1.4rem;
    font-weight: 550;
    line-height: 1.8rem;
    color: #FFE9D5;
  }
    
  /*Seccion de aprendizaje -- Pagina home*/
  
  .aprendizaje{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32em;
    height: auto;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
  }
  
  .aprendizaje--container{
      width: 80%;
      max-width: 90em;
      height: auto;
      margin-top: 2em;
      text-align: center;
      align-self: center;
  }
  
  .aprendizaje--container img {
    width: 100%;
    /*Su crecimiento es automatico*/
    height: auto;
    margin-top: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .aprendizaje--container h2{
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 3.4rem;
    color: #201E1C;
    margin-top: 0.4em;
    margin-bottom: 1em;
  }

  .aprendizaje--container h3{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3.4rem;
    color: #000000;
    padding: 0.5em;
  }
  
  .aprendizaje--container p{
    margin-top: 1.1em;
    margin-bottom: 1.1em;
    font-size: 1.5rem;
    font-weight: 520;
    line-height: 1.8rem;
    color: #5a5858;
  }

  .aprendizaje--container--item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  a:hover h2 {
    text-decoration: underline;
    color: #800000;
  }
 
  
  /*Instituciones -- Pagina home*/
  
  .descargas--contenedor{
    background-color: #f7f9fa;
    text-align: center;
  }
  
  .descargas--contenedor h2{
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 3.4rem;
    color: #201E1C;
    padding: 0.5em;
  }
  
  .descargas--contenedor p{
    font-size: 1.5rem;
    padding: 0.5em;
  }
  
  /*Footer -- Pagina general*/
  
  footer{
    background: #1e291e;
    width: 100%;
    height: auto;
    padding: 2em;
    margin-top: auto;
  }  
 

  /*Nav gobierno del estado*/

  ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  ul.navbar li {
    float: left;
  }

  ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
  }

  ul.navbar li a:hover {
    background-color: #ffffff30;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    width: 25%;
    height: 100px;
    color: var(--white)
    }

  .container h3{
    text-align: center;
  }


/*Bloque de conociendo usuario -- Pagina home*/

.container--conocienodusuario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos CSS para cada opción */
.option--conocienodusuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  flex-basis: 200px;
}

/* Estilos CSS para la imagen de cada opción */
.option--conocienodusuario img {
  width: 100%;
  height: 25em;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5em;
}

/* Estilos CSS para el texto de cada opción */
.option--conocienodusuario p {
  margin-top: 1.1em;
  margin-bottom: 1.1em;
  font-size: 1.2rem;
  font-weight: 520;
  line-height: 1.8rem;
  color: var(--black); 
}

/*Pagina conociendote mas*/
  /*Seccion de title -- Pagina conociendote mas*/
  
  .title--container--conociendomas h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.4rem;
    color: var(--black);
    margin-top: 1.1em;
    margin-bottom: 1.1em;
    text-align: center;
  }

  /*Seccion boton -- Pagina principal*/

  .button--container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }
  
  .button {
    display: inline-block;
    padding: 20px 40px;
    font-size: 15px;
    background-color: #5c1c1c;
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #800000;
  }
  
  @media only screen and (max-width: 600px) {
    .button .button--descargas{
      font-size: 18px;
      padding: 15px 30px;
    }
  }

  /*Botones descarga -- Pagina principal*/

  .button--descargas{
    margin: 1cm;
    display: inline-block;
    padding: 10px 10px;
    font-size: 15px;
    background-color: #b5b5b5;
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .button--descargas:hover {
    background-color: #5c1c1c;
  }
  

  /*Seccion de pop up -- Pagina main*/

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.89);
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }
  
  .popup img {
    height: auto;
  }

  .popup h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.4rem;
    color: var(--black);
    margin-top: 1.1em;
    margin-bottom: 1.1em;
    text-align: center;
    font-style: oblique;
  }

  .popup h4{
    font-size: 1.5rem;
    font-weight: 550;
    line-height: 1.8rem;
    color: var(--black);
    margin-top: 1.1em;
    margin-bottom: 1.1em;
    text-align: center;
  }

  .popup p{
    font-size: 1.5rem;
    font-weight: 520;
    line-height: 1.8rem;
    color: var(--black);
  }
  
  .left-image {
    float: left;
    max-width: 8%;
    margin-right: 10px;
  }
  
  .right-image {
    float: right;
    max-width: 10%;
    margin-left: 10px;
  }

  .center-image{
    max-width: 50%;
  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
