/*
1. General estilos 
2. Header
3. Tipografia
4. Visuales
5. Otros
*/

:root {
    /*Colores*/
    --curtx-blue: #028090;
    --secundary-blue: #05668D;
    --extra-color: #02C39A;
    --secundary-extra: #00A896;
    --parrafo-color: #F0F3BD;
    --white: #ffffff;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
  }
  
  .container {
    flex-wrap: wrap;
    display: flex;
  }
  
  /*Contador -- Reloj contador*/
  
  .firstnav{
    height: 7vh;
    background-color:#1e291e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
  }

  .secondnav{
    height: 7vh;
    background-color:#2f302f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
  }

  .thirdnav{
    height: 7vh;
    background-color:#5c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
  }
  
  .oferta--imagen--texto{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .oferta--imagen--texto img{
    width: 11em;
  }
  
  .contador--de--ofertas{
    width: 20%;
    text-align: center;
    font-size: 1.7rem;
    color: var(--white);
  }
  
  .oferta--imagen--texto p{
    font-size: 1.3rem;
    justify-content: end;
    font-weight: bold;
    text-align: end;
  }
  
  .oferta--imagen--texto span{
    font-size: 1.5rem;
    padding-left: 0.5em;
  
  }
  
  .icon--cerrar--oferta{
    background: none;
    border: none;
    font-size: 1.5em;
    line-height: 1.0em;
    margin-left: auto;
    float: right;
  }
  
  .ocultar{
    transition: all 1s;
    display: none;
  }
  
  /*Header -- Seccion General*/
  
  header {
      position: relative;
      display: flex;
      justify-content: center;
      max-width: 100vw;
      min-width: 32em;
      background-color: var(--white);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-align: center;
      max-height: 10vh;
      z-index: 1;
  }
  
  .header-general {
    width: 100%;
    display: flex;
  }
  
  .show_header {
    opacity: 0.6;
  }
  
  .show--main {
    opacity: 0.6;
  }
  
  .contador--productos{
    background-color: var(--curtx-blue);
    color: var(--white);
    position: absolute;
    border-radius: 9999999em;
    margin-top: 1.1em;
    margin-left: 2.7em;
    width: 1.5em;
    height: 1.5em;
  }
  
  /*Bloque logo -- Seccion header*/
  
  .logo_mobile {
    width: 50%;
    align-self: center;
    padding: auto;
    margin-top: 1.0em;
  }
  
  img header {
    width: 5.0em;
    height: 5.0em;
  }
  
  
  /*Bloque iconos de busqueda -- Seccion header*/
  
  .nav_busqueda {
    width: 25%;
    align-self: center;
    font-size: 0.8em;
  }
  
  
  /*Bloque iconos de desktop -- Seccion header*/
  
  .inicio_sesion_desktop, .registro_desktop,  .academia_desktop, .idioma_desktop, .menu_desktop, .nav_busqueda_desktop, .nav_tienda_desktop, .objetos_desktop, .title--container .title--unete--button{
    display: none;
  }
  
  .carrito--productos{
    width: 20vw;
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    height: auto;
    display: flex;
    text-align: center;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .carrito--productos p{
    font-size: 1.3rem;
    padding: 1.2em;
    width: 100%;
  }
  
  .carrito--productos a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #05668D;
  }
  
  /*Menu -- Seccion General*/
  .icons {
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    font-size: 2.0em;
    line-height: 3.0em;
    padding: 0 0.6em;
    align-self: center;
  }
  
  .icons i:hover{
    color: rgb(94, 94, 94);
    transition: all .3s;
  }
  
  .button_menu_mobile {
    width: 25%;
  }
  
  /*Menu mobile desplegable -- Seccion General*/
  
  .menu_mobile {
      position: absolute;
      background-color: var(--white);
      min-width: 60%;
      height: 100vh;
      padding: 1.5em;
      color: var(--curtx-blue);
      margin-left: -100%;
      transition: all .4s;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      max-width: 70%;
      z-index: 2;
  }
  
  
  .show {
    margin-left: 0;
  }
  
  .show_cerrar {
    margin-left: -100%
  }
  
  
  .menu_mobile img {
    width: 5.5em;
    height: 2.0em;
  }
  
  .icon_cerrar {
    color: black;
    background: none;
    border: none;
    font-size: 1.5em;
    line-height: 1.0em;
    margin-left: auto;
    float: right;
  }
  
  .lista ul {
    list-style: none;
    border-bottom: 0.2rem solid var(--secundary-blue);
  }
  
  .lista ul {
    list-style: none;
    border-bottom: 0.1rem solid var(--secundary-blue);
    padding-bottom: 1.3em;
    padding-top: 1.3em;
  }
  
  .lista li {
    list-style: none;
    font-size: 1.6rem;
    padding: 0.5em 0 0.5em 0.5em;
    font-style: normal;
  }
  
  .menu_mobile a {
    text-decoration: none;
    background-color: transparent;
    color: var(--curtx-blue);
  }
  
  /*Bloque de idiomas -- Seccion Header*/
  
  .idiomas ul {
    border-bottom: 1.0rem solid var(--white);
  }
  
  .button-idioma {
    display: flex;
    text-decoration: none;
    background-color: transparent;
    border: 0.15rem solid black;
    color: black;
    font-size: 1em;
    padding: 0.6em 0.7em;
  }
  
  .button-idioma i {
    font-size: 1.2em;
    padding: 0em 0.3em;
  }
  
  /*Pagina home*/
  /*Seccion de title -- Pagina home*/
  
  .title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32em;
    height: 30.4em;
    text-align: center;
    background: linear-gradient(50.8deg, #b21b1b 16.69%, #ef3c20 50%, #f3e22c 83.31%);
  }
  
  .title img {
    width: 6.5em;
    height: 2.0em;
    margin-top: 6em;
    align-self: center;
  }
  
  .title--container {
    width: 80%;
    min-width: 28.8em;
    max-width: 90em;
    height: 10.8em;
    margin-top: 4em;
    text-align: center;
    align-self: center;
  }
  
  .title--container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.4rem;
    color: var(--white);
  }
  
  .title--container p{
    margin-top: 1.5em;
    font-size: 1.4rem;
    font-weight: 550;
    line-height: 1.8rem;
    color: #FFE9D5;
  }
  
  .title--container .title--button{
    position: absolute;
    left: calc(50% - 10em);
    top: 23em;
    display: block;
    margin-top: 3.5em;
    padding: 1.5em;
    width: 19em;
    height: 4.3em;
    background-color: var(--white);
    /*Sombra boton*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 0.4em;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  
  .title--container .title--button i{
      margin-left: 2em;
  }
  
  
  /*Seccion de aprendizaje -- Pagina home*/
  
  .aprendizaje{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32em;
    height: auto;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
  }
  
  .aprendizaje--container{
      width: 80%;
      max-width: 90em;
      height: auto;
      margin-top: 2em;
      text-align: center;
      align-self: center;
  }
  
  .aprendizaje--container img {
    width: 100%;
    /*Su crecimiento es automatico*/
    height: auto;
    margin-top: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .aprendizaje--container h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.4rem;
    color: #201E1C;
  }
  
  .aprendizaje--container p{
    margin-top: 1.1em;
    margin-bottom: 1.1em;
    font-size: 1.2rem;
    font-weight: 520;
    line-height: 1.8rem;
    color: #757575;
  }
  
  /*Boton de busqueda -- Seccion aprendizaje -- Pagina home*/
  .busqueda_aprendizaje_bloque {
    display: flex;
    flex-grow: 1;
    border: 1px solid #000000;
    margin: 0 1.2rem;
    height: 4.8rem;
    background-color: var(--white);
    margin-top: 0.7em;
  }
  
  .form_busqueda_aprendizaje{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: -0.7em;
  }
  
  .form_busqueda_aprendizaje input{
    background-color: transparent;
    border: 0;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    height: 3.4rem;
    outline: none;
  }
  
  /*Boton de compra -- Seccion curso -- Pagina home*/
  
  .compra_button_cursos{
    display: flex;
    flex-grow: 1;
    border: none;
    margin: 0 1.2rem;
    height: 4.8rem;
    background-color: var(--curtx-blue);
    margin-top: 0.7em;
  
  }
  
  .form_compra_cursos{
    display: flex;
    align-items: center;
    padding: 0 2.4rem 0 0;
    margin-top: -0.4em;
    margin-left: calc(50% - 8.3em);
  }
  
  .compra_curso_carrito_button{
    display: flex;
    border: none;
    background-color: transparent;
  
  }
  
  .compra_curso_carrito_button span{
    font-size: 1.5rem;
    padding-left: 0.5em;
    color: var(--white);
  }
  
  
  /*Cursos posibles imagenes -- Seccion imegenes empresa -- Pagina home*/
  
  .empresas--contenedor{
    background-color: #f7f9fa;
    
  }
  
  .imagenes--empresas--container--general{
    width: 100%;
    align-self: center;
    max-width: 90em;
    text-align: center;
  }
  
  .empresas--contenedor h2{
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3.4rem;
    color: #201E1C;
    padding: 0.5em;
  }
  
  .empresas--contenedor p{
    font-size: 1.3rem;
    padding: 0.5em;
  }
  
  
  .container--images--empresas{
    padding: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .imagen--empresas{
    font-size: 2rem;
    color: #a7aaad;
    width: 10%;
  }

  /*Footer -- Pagina general*/
  
  footer{
    background: #1e291e;
    width: 100%;
    height: auto;
    padding: 2em;
    margin-top: auto;
  }
  
  
  /*Redes sociales -- Seccion footer -- Pagina general*/
  .redes--sociales--footer{
    display: flex;
    width: 100%;
    margin: 1em 0;
    justify-content: center;
  }
  
  .red--social--footer{
    padding: 0.5em;
  }
  
  .red--social--footer a{
    color: var(--white);
    font-size: 4rem;
  }
  

  .footer--general--mobile{
    text-align: center;
    justify-content: center;
    height: auto;
  }
  
  
  /*Privacidad y copyrght -- Seccion footer -- Pagina general*/
  
  .footer--temas-privacidad a{
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .footer--general--mobile p{
    color: white;
    padding: 1em;
  }
  
  .footer--general--desktop{
    display: none;
  }
  

  /*Nav gobierno del estado*/

  ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  ul.navbar li {
    float: left;
  }

  ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
  }

  ul.navbar li a:hover {
    background-color: #ffffff30;
  }